@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto:wght@300&display=swap');.menu{
    display: flex;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: blue;
}
.brand {
    display:flex;
    align-items: center;
}
.bname{
    font-size: 35px;
    font-family: 'Gochi Hand', cursive;
    margin: 0;
    padding-left: 4px;
}
.navlist{
    font-family: 'Noto Sans', sans-serif;
    padding-top: 7px;
    list-style: none;
    font-weight: bolder;
}
.navlist > li{
    display: inline-block;
    margin-right: 30px;
}