@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto:wght@300&display=swap');
.menu{
    display: flex;
}
.menu li{
    margin-top: 1.8%;
}
.menu:hover{
    cursor: pointer;
}
.navbar{
    position: fixed;
    left: 1px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 12%);
    width: 118.6rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 5;
}
.brand {
    display:flex;
    align-items: center;
    padding-left: 16rem;
}
.bname{
    font-size: 35px;
    font-family: 'Gochi Hand', cursive;
    margin: 0;
    padding-left: 4px;
    color: green;
    margin-top: 6%;
    
}
.navlist{
    font-family: 'Noto Sans', sans-serif;
    padding-top: 7px;
    padding-right: 9rem;
    list-style: none;
    font-weight: bolder;
    width: max-content;
}
.leftnav{
    padding-right: 13%;
}
.navlist > li{
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    
}
.navlist li:hover{
    cursor: pointer;
}
.navlist li .arrow{
    padding-left: 0.3rem;
}
.navlist li:hover .arrow{
    transform: rotate(90deg);
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    transition: all 0.3s ease-in-out 0s;
}
.ad-form{
    padding:0.2rem 0.9rem;
    border-radius: 20px;
    font-weight: 800;
    background-color: rgb(64, 224, 0);
}
.ad-form i{
    padding-left: 0.3rem;
}
.ad-form:hover{
    cursor: pointer;
    color:rgb(64, 224, 0);
    background-color: black;
}
.fa-magnifying-glass{
    background-color: rgb(228, 155, 47);
    padding: 9px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.searchbox{
    border: none;
    height: 100%;
    width: 86.2%;
    background: transparent;
}
.search-container{
    border-radius: 10px;
    width: 280px;
    background-color: beige;
}