@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto:wght@300&display=swap');
.menu{
    display: flex;
}
.navbar{
    position: fixed;
    left: 1px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 12%);
    width: 118.6rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 4;
}
a{
    text-decoration: none;
    color: blue;
}
.brand {
    display:flex;
    align-items: center;
    padding-left: 16rem;
}
.bname{
    font-size: 35px;
    font-family: 'Gochi Hand', cursive;
    margin: 0;
    padding-left: 4px;
}
.navlist{
    font-family: 'Noto Sans', sans-serif;
    padding-top: 7px;
    padding-right: 15rem;
    list-style: none;
    font-weight: bolder;
}
.navlist > li{
    display: inline-block;
    margin-right: 30px;
    
}
.navlist li:hover{
    cursor: pointer;
}
.navlist li .arrow{
    padding-left: 0.3rem;
}
.navlist li:hover .arrow{
    transform: rotate(90deg);
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    transition: all 0.3s ease-in-out 0s;
}
.ad-form{
    padding:0.2rem 0.9rem;
    border-radius: 20px;
    font-weight: 800;
    background-color: rgb(64, 224, 0);
}
.ad-form i{
    padding-left: 0.3rem;
}
.ad-form:hover{
    cursor: pointer;
    color:rgb(64, 224, 0);
    background-color: black;
}